[submodule "contrib/gsl"]
	path = contrib/gsl
	url = git://git.sv.gnu.org/gsl.git
[submodule "src/mappings/swig/contrib/math--gsl"]
	path = src/mappings/swig/contrib/math--gsl
	url = git://github.com/pjotrp/math--gsl.git
[submodule "tools/cmake-support"]
	path = tools/cmake-support
	url = git://github.com/pjotrp/cmake-support.git
